@media  only screen and (max-width: 992px) 
{
    #page-title-container .title-box h1
    {
        color:orangered;
        font-size: 75px;
        padding: 20px;
    } 

    .side-description
    {
        z-index:100;
        background-color: black;
        color: whitesmoke;
        border-radius: 25px;
        padding: 0 15px 15px 15px;
        position: absolute;
        width: 360px;
        height: auto;
        white-space: pre-line;
        top:200px;
        left: 180px;
    }
    .side-description p
    {
          margin-bottom: -15px;
    }
    .features-title-box .side-description
    {
        z-index:100;
        color:whitesmoke;
        background-color: black;
        border-radius: 25px;
        padding: 0 15px 15px 15px;
        width: 360px;
        height: auto;
        white-space: pre-line;
        top:0px;
        left: 180px;
    }

}

@media  only screen and (max-width: 768px) 
{
      #page-title-container .title-box h1
      {
          color:yellow;
          font-size: 50px;
          padding: 10px;
      } 
      
      .side-description
      {
          z-index:100;
          color:whitesmoke;
          background-color: black;
          border-radius: 25px;
          padding: 0 15px 15px 15px;
          width: 180px;
          height: auto;
          white-space: pre-line;
          top:200px;
          left: 180px;
      }
      .side-description p
      {
            margin-bottom: -15px;
      }

      .features-title-box .side-description
      {
          z-index:1000;
          color:whitesmoke;
          background-color: black;
          border-radius: 25px;
          padding: 0 15px 15px 15px;
          width: 180px;
          height: auto;
          white-space: pre-line;
          top:0px;
          left: 180px;
      }

        #features-display-box
        {
            height: 1240px;
            gap:10px;
            grid-template-columns: 1% 45% 2% 45% 2%;
            grid-template-rows: 3% 40% 1% 2%  20% 2% 20% 2%;
        }

        
        #map-window-title
        {
            grid-column: 2/5;
            grid-row: 1/2;
        }
        
        #map-window-display
        {
            grid-column: 2/5;
            grid-row: 2/3;
        }

        #vertical-separation-bar
        {
            grid-column: 2/5;
            grid-row: 3/4;
        }

        #horizontal-separation-bar
        {
            grid-column: 3/4;
            grid-row: 3/8;
        }

        #weather-window-title
        {
            grid-column: 4/5;
            grid-row: 4/5;
        }
        
        #weather-window-display
        {
            grid-column: 4/5;
            grid-row:5/8;
        }
        
        #calendar-link-window
        {
            grid-column: 2/3;
            grid-row: 5/6;
        }

        #external-link-window
        {
            grid-column: 2/3;
            grid-row: 7/8;
        }

    }


