body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.infoPull {
  background-color: whitesmoke;
  width: 100%;
  font-weight: bolder;
  font-size: larger;
  color: black;
  border: 0;
}

.infoPull:hover {
  text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalContent {
  background-color: grey;
  margin: 20% auto;
  /* padding: 20px; */
  width: 45%;
  box-shadow: 0 5px 8px 0 rgba(165, 252, 52, 0.2),
    0 7px 20px 0 rgba(165, 252, 52, 0.15);
  animation-name: modalOpen;
  animation-duration: 2s;
}

.modalHeader {
  background: olivedrab;
  padding: 15px;
  color: black;
}

.modalHeader h2,
.modalFooter h3 {
  margin: 0;
}

.modalBody {
  padding: 10px 20px;
}

.modalFooter {
  background: olivedrab;
  padding: 5px;
}

#closeBtn {
  color: rgb(26, 85, 173);
  float: right;
  font-size: 30px;
}

#closeBtn:hover,
#closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.startingCard,
.endingCard {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: lightcoral;
  margin: 5%;
  border-radius: 15px;
  padding: 1em;

}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
